# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

/bin
FPS.sln
/obj
.vs/FPS/FileContentIndex/1b674169-a182-41e5-80bb-7b9356226440.vsidx
.vs/FPS/FileContentIndex/2ae8c438-e54a-4d2c-b86d-0d58fef624d2.vsidx
.vs/FPS/FileContentIndex/9702a5ef-0084-489d-8992-ce3379b87824.vsidx
.vs/FPS/FileContentIndex/e5a775be-f41e-4580-9de4-53a69eabba06.vsidx
.vs/FPS/v17/.futdcache.v2
.vs/FPS/v17/.suo
.vs/FPS/v17/DocumentLayout.backup.json
.vs/FPS/v17/DocumentLayout.json
.vs/ProjectEvaluation/fps.metadata.v9.bin
.vs/ProjectEvaluation/fps.projects.v9.bin
.vs/ProjectEvaluation/fps.strings.v9.bin
.vs/FPS/DesignTimeBuild/.dtbcache.v2
.vs/FPS/FileContentIndex/624dbf36-9fda-4252-a1d6-0380fb580cb0.vsidx
.vs/FPS/FileContentIndex/85d97972-b9f6-45f1-9c2f-81219af12867.vsidx
.vs/FPS/FileContentIndex/e2c5aaf6-14f2-4927-9dee-7a4e89fa3e1f.vsidx
/Complex Tier 3 example with full functionality
lib/MathNet.Numerics.xml
/.vs/FPS/FileContentIndex
